.activities-table td
{
  padding: 0 !important;
}

.centered
{
  display: flex;
  justify-content: center;
  align-items: center;
}

a.text-link,
a.text-link:visited,
a.text-link:hover,
a.text-link
{
  color: #212529;
  text-decoration: none;
}

.icon-button
{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #009ddf;
}

  .icon-button:disabled
  {
    cursor: auto;
    color: lightsteelblue;
  }

.full-size
{
  width: 100%;
  height: 100%;
}


div.app
{
  max-width: 450px;
  width: 100%;
  display: inline-block;
}

div.app-root
{
  width: 100%;
  text-align: center;
}

tr.activity-row
{
  vertical-align: baseline;
}

table.activities-table
{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dee2e6;
}

nav.navbar
{
  background-color: #009ddf;
  margin-top: 10px;
}

ul.navbar-nav
{
  display: inline-flex;
  width: 100%;
}

div.main-menu
{
  text-align: center;
  width: calc(100% - 250px);
}

div.separator
{
  width: 50px;
}

a.link-active,
.link-active a:active,
.link-active a:hover,
a.link-active a:visited,
a:hover
{
  color: white !important;
}

div.current-date input,
div.current-date div:first-child
{
  border-bottom-width: 0 !important;
  height: 28px !important;
}

div.current-date hr
{
  display: none !important;
}


div.date-switcher
{
  background: linear-gradient(#d8d8d8, #ebf5fb);
  /* lightsteelblue */
}

button.date-switcher-button
{
  width: 40px;
}

td.activity-badge
{
  max-width: 10px;
  width: 10px;
  padding: 0 !important;
}

td.activity-count
{
  width: 40px;
  font-weight: 600;
  font-size: xx-large;
  text-align: right;
  padding: 0.75rem !important;
}

td.activity-description
{
  font-weight: 400;
  text-align: left;
  vertical-align: bottom !important;
  padding-bottom: 18px !important;
  padding-left: 0 !important;
}

td.activity-button,
td.activity-amount-button
{
  width: 70px;
  vertical-align: middle;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dee2e6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dee2e6;
  padding: 0;
}

  td.activity-button button,
  td.activity-amount-button button
  {
    height: 70px;
  }

td.activity-amount
{
  text-align: left;
}

td.activity-amount
{
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

td.activity-amount-button
{
  padding-top: 2px;
  padding-bottom: 1px;
}

div.activity-amount-description
{
  font-size: small;
  color: gray;
  text-transform: uppercase;
}

div.activity-amount
{
  font-weight: 600 !important;
  font-size: x-large !important;
}

div.activity-amount input
{
  font-weight: 400 !important;
  font-size: x-large !important;
}

td.activity-amount-button span
{
  font-weight: 600;
  font-size: large;
}
